black[jupyter]==24.2.0
blacken-docs
pre-commit
pytest==7.3.2
pytest-xdist
pytest-playwright
tenacity
-e ../browsergym/core # local package
-e ../browsergym/miniwob # local package
-e ../browsergym/webarena # local package
-e ../browsergym/visualwebarena # local package
-e ../browsergym/experiments # local package
browsergym-workarena
