sphinx==7.3.7
# sphinx-rtd-theme==2.0.0
pydata-sphinx-theme == 0.15.3
sphinx_design==0.6.0
-e browsergym/core/
-e browsergym/miniwob/
-e browsergym/webarena/
-e browsergym/visualwebarena/
-e browsergym/experiments/
